<div class="container mt-3">
    <div class="row">
        <div class="col-12 col-lg-8">
            <div class="position-relative">
                <img src="https://donganhland.com.vn/upload/news/770z3833129639032bee2a765c0834bfee8e873ba3fe15f9f.jpg"
                    class="w-100 img-fluid" alt="" style="aspect-ratio: 16/9; object-fit: cover;">

                <div class="position-absolute"
                    style="background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.7) 100%); border-radius: 4px; transform: rotate(0); position: absolute; bottom: 0; width: 100%; height: 50%;">
                </div>
                <div class="position-absolute" style="bottom: 2rem; left: 2rem;">
                    <div class="text-light">28/04/2023 11:10 • Tin tức</div>
                    <div class="fw-bold fs-4 text-light" style="font-size: 1rem; line-height: 1.2;">CÁC NGÂN HÀNG LỚN
                        THỐNG NHẤT GIẢM LÃI SUẤT HUY ĐỘNG
                    </div>
                    <div class="fw-semibold text-light">Các ngân hàng lớn thống nhất giảm lãi suất huy động
                    </div>
                </div>

            </div>

        </div>
        <div class="col-12 col-lg-4">
            <div class="py-3 mb-2">
                <div class="text-muted" style="font-size: 0.875rem;">28/04/2023 11:10 • tin tức</div>
                <div class="fw-bold" style="font-size: 1rem; line-height: 1.2;">Các ngân hàng lớn thống nhất giảm lãi suất huy động
                </div>
            </div>
            <div class="border-top py-3 mb-2">
                <div class="text-muted" style="font-size: 0.875rem;">28/04/2023 11:10 • tin tức</div>
                <div class="fw-bold" style="font-size: 1rem; line-height: 1.2;">Các ngân hàng lớn thống nhất giảm lãi suất huy động
                </div>
            </div>
            <div class="border-top py-3 mb-2">
                <div class="text-muted" style="font-size: 0.875rem;">28/04/2023 11:10 • tin tức</div>
                <div class="fw-bold" style="font-size: 1rem; line-height: 1.2;">Các ngân hàng lớn thống nhất giảm lãi suất huy động
                </div>
            </div>
            <div class="border-top py-3 mb-2">
                <div class="text-muted" style="font-size: 0.875rem;">28/04/2023 11:10 • tin tức</div>
                <div class="fw-bold" style="font-size: 1rem; line-height: 1.2;">Các ngân hàng lớn thống nhất giảm lãi suất huy động
                </div>
            </div>
        </div>
    </div>
</div>