@import "mixins";
@import "variables";
//RESET
body {
    font-size: 0.875rem;
}
a {
    text-decoration: none !important;
    color: inherit !important;
}

.active>.page-link, .page-link.active {
    z-index: 3;
    color: var(--bs-pagination-active-color) !important;
    background-color: var(--bs-gray);
    border-color: var(--bs-pagination-border-color);
}

// HEADER
// độ rộng toggle nav = font size 
$width-toggle-nav: $font-size-lg*1.5 ; 
.navbar{
    // padding: 20px;
}
.navbar-nav{
    gap: 25px;
    .nav-item {
        .nav-link{
            font-weight: 600;
            color: $navbar-light-active-color;
            transition: border 0.3s;
            border-bottom:2px white solid ;
            padding:0;
            padding-bottom: 1px;
            &:hover {
                border-bottom:2px #f44336 solid ;
            }
        }
    }
}

.navbar-brand {
    img{
        height: 68px;
    }
    @include media-breakpoint-down(lg){
        & {
            padding: 0;
            margin-right: 0;
            width: calc(100% - $width-toggle-nav);
            text-align: center;
            img {
                height: 50px
            }
        }
    }
}

.navbar-toggler{
    border: none;
    padding: 0px;
}
