<div class="card">
    <div class="card-body d-flex flex-column align-items-center">
        <img src="https://file4.batdongsan.com.vn/resize/200x200/2023/03/31/20230331171327-a131.jpg" class="rounded-circle w-25" alt="">
        <div class="text-muted mt-2" style="font-size: 0.875rem;">Được đăng bởi</div>
        <div class="fw-semibold fs-5 text-truncate">Bds Việt Nhân Bắc Ninh</div>
        <div class="">Xem thêm 26 tin khác</div>

        <button class="btn text-light mt-2 w-100" style="background-color: rgb(7 152 83);"><i class="fa-solid fa-phone-volume"></i> 0936 030 966 · Sao chép</button>

        <button class="btn btn-outline-secondary mt-2 w-100">Gửi email</button>

        <button class="btn btn-outline-secondary mt-2 w-100">Yêu cầu liên hệ lại</button>

    </div>
</div>

<div class="card mt-3" style="background-color: #F2F2F2;">
    <div class="card-body">
        <p class="fw-semibold" style="font-size: 1.125rem;">Bất động sản cùng khu vực</p>
        <div class="d-flex flex-column">
            @@for (var i = 1; i <= 10; i++) { 
                <a class="text-decoration-none text-dark py-1">Bán đất tại Thị trấn Đông Anh</a>
            }
        </div>
    </div>
</div>

<div class="card mt-3" style="background-color: #F2F2F2;">
    <div class="card-body">
        <p class="fw-semibold" style="font-size: 1.125rem;">Bất động sản nổi bật</p>
        <div class="d-flex flex-column">
            @@for (var i = 1; i <= 10; i++) { <a class="text-decoration-none text-dark py-1">
                Đường Bắc Thăng Long (1000)</a>
            }
        </div>
    </div>
</div>