<div class="sapo mt-3">
    <strong>Tổng Giám đốc Vietcombank cho biết, ngay trước cuộc họp sáng 8/2, Tổng Giám đốc các ngân hàng thương mại đã
        nhóm họp và thống nhất giảm lãi suất huy động nhằm giảm lãi suất cho vay nói chung và giảm lãi suất cho vay bất
        động sản nói riêng.
    </strong>

</div>
<!-- <hr class="text-muted"> -->
<div class="content-archive mt-3">

    <h1 class="fs-4">Các ngân hàng lớn thống nhất giảm lãi suất huy động</h1>
    <p>
        <a href="https://cafebiz.cafebizcdn.vn/162123310254002176/2023/2/8/tie-1675839541359-1675839541472459954017.jpg"
            target="_blank">
            <img alt="Các ngân hàng lớn thống nhất giảm lãi suất huy động - Ảnh 1."
                src="https://cafebiz.cafebizcdn.vn/162123310254002176/2023/2/8/tie-1675839541359-1675839541472459954017.jpg"
                title="Các ngân hàng lớn thống nhất giảm lãi suất huy động - Ảnh 1.">
        </a>
    </p>

    <p>Tại Hội nghị về công tác tín dụng đối với lĩnh vực bất động sản (BĐS) sáng 8/2 tại trụ sở Ngân hàng Nhà nước,
        Tổng Giám đốc Vietcombank cho biết, ngay trước cuộc họp này, Tổng Giám đốc các ngân hàng thương mại đã nhóm
        họp và thống nhất giảm lãi suất huy động nhằm giảm lãi suất cho vay nói chung và giảm lãi suất cho vay bất
        động sản nói riêng.</p>

    <p>Còn theo nguồn tin của chúng tôi, ngay từ hôm qua (7/2), một số ngân hàng lớn trong nhóm Big4 đã rục rịch
        triển khai đến các chi nhánh về việc giảm lãi suất huy động dân cư, các chi nhánh căn cứ theo chỉ đạo này để
        cân đối, huy động vốn đảm bảo hiệu quả hoạt động.</p>

    <p>Một lãnh đạo ngân hàng cho biết, mức lãi suất đa ở các ngân hàng lớn sẽ chỉ còn khoảng 8,7%/năm, thay vì mức
        tối đa 9,5% hiện tại.</p>

    <p>Theo khảo sát, ngay sau Tết Nguyên đán, nhiều ngân hàng đã điều chỉnh giảm lãi suất tiết kiệm. Động thái này
        diễn ra sau khi cơ quan điều hành có hoạt động thanh kiểm tra và nhắc nhở một số nhà băng có lãi suất huy
        động trên 10%. Do đó, các ngân hàng cũng đã tiết chế hơn trong việc huy động với lãi suất cao. Thống kê hiện
        nay cho thấy, không còn ngân hàng nào niêm yết lãi suất tiết kiệm trên 10%/năm. So với giai đoạn cao điểm
        hồi tháng 11/2022, lãi suất huy động hiện nay đã giảm từ 0,5-2%/năm tùy từng kỳ hạn.</p>

    <p>Chẳng hạn, VietCapitalBank lãi suất tối đa nhà băng này đưa ra là 9%/năm, áp dụng với tiền gửi trực tuyến 12
        tháng trở lên trong khi trước đó, cuối năm 2022, lãi suất ở kỳ hạn này là 9,5%/năm.</p>

    <p>Nguồn : Cafef.vn</p>
</div>
<!-- NGUỒN -->
<div class="text-muted mt-5">
    Nguồn: http://thanhnienviet.vn/2022/09/16/10-cau-hoi-thuong-gap-ve-gia-den-bu-dat-nong-nghiep-2022
</div>

<!-- ĐẤU GIÁ GIÀNH CHO BẠN -->
<script>
    $(document).ready(function () {
        $('.content-archive img').addClass('img-fluid');
        $('.content-archive img').css({ 'width': 'auto', 'height': 'auto' });
    })
</script>