<div class="container-fluid g-0">

    <!-- box filter mobile -->
    <div id="mobile-filter" class="d-none" style="width: 100%; display: flex; justify-content: center;">
        <div class="input-group mb-3 ps-3 pe-3">
            <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username"
                aria-describedby="basic-addon2">
            <span class="input-group-text bg-red text-light bg-danger" id="basic-addon2">
                <i class="fas fa-search"></i>
            </span>
        </div>
    </div>

    <div style="position: relative;">
        <!-- box slide -->
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true"
            style="position: absolute; width: 100%;">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="https://placehold.co/1920x560/f44336/31343C?text=SLIDE 1" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="https://placehold.co/1920x560/f44336/31343C?text=SLIDE 2" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="https://placehold.co/1920x560/f44336/31343C?text=SLIDE " class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

        <!-- box filter pc -->
        <div id="pc-filter"
            style="position: absolute; top:4rem; text-align: center; width: 100%; display: flex; justify-content: center;">
            <div>
                <div class="rounded-top text-light px-3 py-1"
                    style="background-color: rgb(70, 11, 11, 0.8); width: fit-content;">
                    Nhà đất bán
                </div>
                <div class="p-3" style="background-color: rgb(70, 11, 11, 0.8); width: 956px; height: 160px;">
                    <div class="input-group mb-3">
                        <button class="btn btn-outline-light dropdown-toggle bg-light text-dark p-3"
                            style="border-right: 1px solid #ccc; background-color: #fff !important;" type="button"
                            data-bs-toggle="dropdown" aria-expanded="false"> <i class="fas fa-home"></i> Nhà đất
                            bán</button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Separated link</a></li>
                        </ul>
                        <input type="text" class="form-control" aria-label="Text input with dropdown button">
                        <button class="btn btn-danger" type="button"><i class="fas fa-search"></i> Tìm kiếm</button>
                    </div>

                    <div class="d-flex justify-content-between">
                        <div>
                            <p>
                                <button class="btn btn-primary" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseCity" aria-expanded="false" aria-controls="collapseCity">
                                    Button with data-bs-target
                                </button>
                            </p>
                            <div class="collapse" id="collapseCity">
                                <div class="card card-body">
                                    Some placeholder content for the collapse component. This panel is hidden by default but
                                    revealed when the user activates the relevant trigger.
                                </div>
                            </div>
                        </div>
                        <div>
                            <p>
                                <button class="btn btn-primary" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapsePrice" aria-expanded="false" aria-controls="collapsePrice">
                                    Button with data-bs-target
                                </button>
                            </p>
                            <div class="collapse" id="collapsePrice">
                                <div class="card card-body">
                                    Some placeholder content for the collapse component. This panel is hidden by default but
                                    revealed when the user activates the relevant trigger.
                                </div>
                            </div>
                        </div>
                        <div>
                            <p>
                                <button class="btn btn-primary" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapsePriceSquar" aria-expanded="false" aria-controls="collapsePriceSquar">
                                    Button with data-bs-target
                                </button>
                            </p>
                            <div class="collapse" id="collapsePriceSquar">
                                <div class="card card-body">
                                    Some placeholder content for the collapse component. This panel is hidden by default but
                                    revealed when the user activates the relevant trigger.
                                </div>
                            </div>
                        </div>

                        <div>
                            <p>
                                <button class="btn btn-primary" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseExampleMore" aria-expanded="false" aria-controls="collapseExampleMore">
                                    Button with data-bs-target
                                </button>
                            </p>
                            <div class="collapse" id="collapseExampleMore">
                                <div class="card card-body">
                                    Some placeholder content for the collapse component. This panel is hidden by default but
                                    revealed when the user activates the relevant trigger.
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    
                </div>

            </div>
        </div>
    </div>
</div>