<div class="author d-flex align-items-center mt-3">
    <img src="images/logo.png" alt=""
        class="border rounded-circle me-3" width="48" height="48" style="aspect-ratio: 1; object-fit: cover;">
    <div>
        <div>Được đăng bởi <strong>Lan Chi</strong></div>
        <div>Cập nhật lần cuối vào 06/04/2023 11:10 • Đọc trong khoảng 9 phút</div>
    </div>
</div>

<div class="sapo mt-3 d-none">
    <p>Dự án Cao tốc Biên Hòa – Vũng Tàu dự kiến sẽ được khởi công trước ngày 30/6/2023. Hai tỉnh Đồng Nai và Bà
        Rịa-Vũng Tàu đang tiến hành công tác giải phóng mặt bằng, nỗ lực tháo gỡ khó khăn để đảm bảo cao tốc Biên Hòa –
        Vũng Tàu khởi công đúng tiến độ.</p>
</div>
<hr class="text-muted">
<div class="content-archive mt-3">
    <h1 style="font-size: 2rem;">Thông báo đấu giá quyền sử dụng 44 thửa đất ở thuộc khu đất X6 thôn Hà Lỗ xã Liên Hà huyện Đông Anh TP Hà
        Nội ( tạm dừng )</h1>


    <p>Công ty Đấu giá hợp danh số 5 – Quốc gia vừa ra thông báo đấu giá tài sản của Trung tâm Phát triển quỹ đất
        huyện Đông Anh .</p>

    <p>Cụ thể là quyền sử dụng đất đối với 22 thửa đất ở thuộc khu đất X6, thôn Hà Lỗ, xã Liên Hà, huyện Đông Anh,
        TP Hà Nội. Các thửa đất có diện tích từ 90 m2/thửa đến 154 m2/thửa với giá khởi điểm từ 30,3 triệu đồng/m2
        đến 33,3 triệu đồng/m2.</p>

    <p><img alt="" src="https://cdn.vietnammoi.vn/1881912202208777/images/2023/4/4/1-20230404174430638.jpg?width=700">
    </p>

    <p>&nbsp;Thông tin 22 thửa đất mang ra đấu giá. (<em>Ảnh chụp màn hình</em>).</p>

    <p>Hình thức, phương thức đấu giá, đấu giá từng thửa đất bằng bỏ phiếu kín trực tiếp tại cuộc đấu giá theo
        phương thức trả giá lên.</p>

    <p>Người tham gia đấu giá nộp hồ sơ đăng ký đấu giá từ 8h ngày 4/4 đến hết 17h ngày 20/4 (giờ hành chính) cho
        Công ty Đấu giá hợp danh số 5 – Quốc gia trực tiếp tại Trung tâm chính trị huyện Đông Anh, thôn Đản Dị, xã
        Uy Nỗ, huyện Đông Anh, TP Hà Nội; hoặc gửi dưới hình thức gửi thư đảm bảo đến địa chỉ Công ty Đấu giá hợp
        danh số 5 – Quốc gia, số 193 Hoàng Văn Thái, phường Khương Trung, quận Thanh Xuân, Hà Nội, điện thoại
        024.37.622.619.</p>

    <p>Khách hàng nộp tiền đặt trước từ ngày 19/4 đến 17h ngày 20/4 vào tài khoản ngân hàng của Công ty Đấu giá hợp
        danh số 5 – Quốc gia.</p>

    <p>Về việc xem thực địa khu đất, đối với khách hàng đã xác định được vị trí khu đất đấu giá, có thể trực tiếp
        đến xem xét thực địa khu đất. Đối với khách hàng chưa xác định được vị trí khu đất đấu giá, liên hệ với
        Trung tâm Phát triển quỹ đất huyện Đông Anh hoặc Công ty Đấu giá hợp danh số 5 – Quốc gia để được xếp lịch
        hẹn đi xem thực địa trong hai ngày liên tiếp là ngày 13/4 và 14/4 (giờ hành chính).</p>

    <p>Buổi tổ chức đấu giá được tổ chức vào 8h30 ngày 23/4 tại hội trường Trung tâm chính trị huyện Đông Anh, địa
        chỉ thôn Đản Dị, xã Uy Nỗ, huyện Đông Anh, TP Hà Nội.</p>

    <p>Và quyền sử dụng đất đối với 22 thửa đất ở thuộc khu đất X6, thôn Hà Lỗ, xã Liên Hà, huyện Đông Anh, TP Hà
        Nội. Các thửa đất có diện tích từ 90 m2/thửa đến 132 m2/thửa với giá khởi điểm từ 30,3 triệu đồng/m2 đến
        33,3 triệu đồng/m2.</p>

    <p><img alt="" src="https://cdn.vietnammoi.vn/1881912202208777/images/2023/4/4/1-2023040418085896.jpg?width=700">
    </p>

    <p>&nbsp;&nbsp;&nbsp;Thông tin 22 thửa đất mang ra đấu giá. (<em>Ảnh chụp màn hình</em>).</p>

    <p>Hình thức, phương thức đấu giá, đấu giá từng thửa đất bằng bỏ phiếu kín trực tiếp tại cuộc đấu giá theo
        phương thức trả giá lên.</p>

    <p>Người tham gia đấu giá nộp hồ sơ đăng ký đấu giá từ 8h ngày 4/4 đến hết 17h ngày 3/5 (giờ hành chính) cho
        Công ty Đấu giá hợp danh số 5 – Quốc gia trực tiếp tại Trung tâm chính trị huyện Đông Anh, thôn Đản Dị, xã
        Uy Nỗ, huyện Đông Anh, TP Hà Nội; hoặc gửi dưới hình thức gửi thư đảm bảo đến địa chỉ Công ty Đấu giá hợp
        danh số 5 – Quốc gia, số 193 Hoàng Văn Thái, phường Khương Trung, quận Thanh Xuân, Hà Nội, điện thoại
        024.37.622.619.</p>

    <p>Khách hàng nộp tiền đặt trước từ ngày 3/5 đến 17h ngày 4/5 vào tài khoản ngân hàng của Công ty Đấu giá hợp
        danh số 5 – Quốc gia.</p>

    <p>Về việc xem thực địa khu đất, đối với khách hàng đã xác định được vị trí khu đất đấu giá, có thể trực tiếp
        đến xem xét thực địa khu đất. Đối với khách hàng chưa xác định được vị trí khu đất đấu giá, liên hệ với
        Trung tâm Phát triển quỹ đất huyện Đông Anh hoặc Công ty Đấu giá hợp danh số 5 – Quốc gia để được xếp lịch
        hẹn đi xem thực địa trong hai ngày liên tiếp là ngày 27/4 và 28/4 (giờ hành chính).</p>

    <p>Buổi tổ chức đấu giá được tổ chức vào 8h30 ngày 6/5 tại hội trường Trung tâm chính trị huyện Đông Anh, địa
        chỉ thôn Đản Dị, xã Uy Nỗ, huyện Đông Anh, TP Hà Nội.</p>

    <p>Thông tin liên hệ: 074090313</p>

    <p>XEM THÊM BÁN ĐẤT ĐẤU GIÁ X6 HÀ LỖ LIÊN HÀ&nbsp;<a
            href="https://donganhland.com.vn/ban-dat-dau-gia-x6-thon-ha-lo-xa-lien-ha-huyen-dong-anh-ha-noi-p846.html">TẠI
            ĐÂY</a></p>

    <p>XEM THÊM BÁN ĐẤT ĐẤU GIÁ X2 GIAO TÁC LIÊN HÀ&nbsp;<a
            href="https://donganhland.vn/nha-dat/ban-dat-dau-gia-x2-thon-giao-tac-lien-ha-dong-anh/">TẠI ĐÂY</a></p>

    <p>XEM THÊM BÁN ĐẤT ĐẤU GIÁ X7 LỖ KHÊ LIÊN HÀ&nbsp;<a
            href="https://donganhland.vn/nha-dat/ban-dat-dau-gia-x7-lo-khe-lien-ha-dong-anh/">TẠI ĐÂY</a></p>

    <p><img alt=""
            src="https://donganhland.vn/wp-content/uploads/2023/04/z4221049692546_d801f6446cba448a484658dcdd4b1102.jpg"
            style="height:854px; width:1280px">&nbsp;<img alt=""
            src="https://donganhland.vn/wp-content/uploads/2023/04/z4221049688147_603b31e5d9415b39798d23d6a3ff1eab.jpg"
            style="height:715px; width:1073px">&nbsp;<img alt=""
            src="https://donganhland.vn/wp-content/uploads/2023/04/z4221049688029_112b55f7d76dc3079b666a02a6b7f542.jpg"
            style="height:711px; width:1067px">&nbsp;<img alt=""
            src="https://donganhland.vn/wp-content/uploads/2023/04/z4221049676490_f5f0bf94d308afb76e3e447144e1e0c2.jpg"
            style="height:705px; width:1058px">&nbsp;<img alt=""
            src="https://donganhland.vn/wp-content/uploads/2023/04/z3221049683068_e13aa5d079e0fba31edd746d2cfe734a.jpg"
            style="height:793px; width:1057px">&nbsp;<img alt=""
            src="https://donganhland.vn/wp-content/uploads/2023/04/Dau-gia-Ha-Lo-Lien-Ha.jpg"
            style="height:775px; width:1057px"></p>
</div>
<!-- NGUỒN -->
<div class="text-muted mt-5">
    Nguồn: http://thanhnienviet.vn/2022/09/16/10-cau-hoi-thuong-gap-ve-gia-den-bu-dat-nong-nghiep-2022
</div>

<!-- ĐẤU GIÁ GIÀNH CHO BẠN -->
<script>
    $(document).ready(function() {
        $('.content-archive img').addClass('img-fluid');
        $('.content-archive img').css({'width':'auto', 'height':'auto'});
    })
</script>